.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .board {
        box-shadow: inset 0px 0px 1.5rem -0.5rem lighten($dark, 5%), 0px 0px 3rem 0.5rem darken($dark, 5%);
        padding: 1.5rem;
        border-radius: 1000px;
        background-color: darken($dark, 5%);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        position: relative;
        .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $dark;
            padding: 3rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.5rem;
            button {
                width: 100%;
            }
        }
        .game-btn {
            $hover-shadow: 0px 0px 20px 5px;
            height: 200px;
            min-width: 200px;
            box-shadow: #111111b0;
            border-radius: 0.25rem;

            &[disabled] {
                cursor: not-allowed;
            }
            &:hover:not([disabled]) {
                transform: scale(1.015);
                opacity: 0.89;
            }
            &:active:not([disabled]) {
                transform: scale(0.985);
                opacity: 1;
            }
            &.green {
                border-radius: 100% 0 0 100%/100% 100% 0 0;
                background-color: $clr-1;
                border-top-right-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                &:active:not([disabled]),
                &.active {
                    background-color: lighten($clr-1, 10%);
                    box-shadow: $hover-shadow rgba($clr-1, 50%);
                }
            }
            &.red {
                border-radius: 0 100% 0 100% /100% 100% 0 0;
                background-color: $clr-2;
                border-top-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                &:active:not([disabled]),
                &.active {
                    background-color: lighten($clr-2, 10%);
                    box-shadow: $hover-shadow rgba($clr-2, 50%);
                }
            }
            &.yellow {
                border-radius: 100% 0 0 100%/0 100% 0 100%;
                background-color: $clr-3;
                border-bottom-right-radius: 0.5rem;
                border-top-left-radius: 0.5rem;
                &:active:not([disabled]),
                &.active {
                    background-color: lighten($clr-3, 10%);
                    box-shadow: $hover-shadow rgba($clr-3, 50%);
                }
            }
            &.blue {
                border-radius: 0 100% 100% 0 / 100% 0 100% 0;
                background-color: $clr-4;
                border-bottom-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                &:active:not([disabled]),
                &.active {
                    background-color: lighten($clr-4, 10%);
                    box-shadow: $hover-shadow rgba($clr-4, 50%);
                }
            }
        }
        .level {
            font-size: 1.75rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 7rem;
            height: 7rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #111;
            border-radius: 100px;
            cursor: default;
            box-shadow: 0px 0px 30px -10px $dark;
        }
    }
}
