$hover-shadow: 0px 0px 30px 5px;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    perspective-origin: 50% 150%;
    .board {
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px, 10px 10px 10px 0px #333, 3px 15px 0px 10px #222;
        background-color: #222;
        border-radius: 1000px;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        position: relative;
        transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(12deg) rotateY(0deg) rotateZ(15deg) translateX(0px)
            translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
        margin: auto;
        width: 100%;
        height: 100%;
        max-width: 95vw;
        max-height: 95vw;
        @media (min-width: $padded-break-narrow) {
            max-width: 500px;
            max-height: 500px;
        }
        &.green .game-btn.green {
            background-color: lighten($clr-1, 12%);
            box-shadow: $hover-shadow rgba($clr-1, 50%);
        }
        &.red .game-btn.red {
            background-color: lighten($clr-2, 12%);
            box-shadow: $hover-shadow rgba($clr-2, 50%);
        }
        &.yellow .game-btn.yellow {
            background-color: lighten($clr-3, 12%);
            box-shadow: $hover-shadow rgba($clr-3, 50%);
        }
        &.blue .game-btn.blue {
            background-color: lighten($clr-4, 12%);
            box-shadow: $hover-shadow rgba($clr-4, 50%);
        }

        .game-btn {
            border-radius: 0.25rem;
            transition: all 0.3s ease;
            &[disabled] {
                cursor: not-allowed;
            }
            &:hover:not([disabled]) {
                transform: scale(1.015);
                filter: brightness(115%);
            }
            &:active:not([disabled]) {
                transform: scale(0.985);
                opacity: 1;
            }
            &.green {
                border-radius: 100% 0 0 100%/100% 100% 0 0;
                background-color: $clr-1;
                border-top-right-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
                &:active:not([disabled]) {
                    background-color: lighten($clr-1, 12%);
                    box-shadow: $hover-shadow rgba($clr-1, 50%);
                }
            }
            &.red {
                border-radius: 0 100% 0 100% /100% 100% 0 0;
                background-color: $clr-2;
                border-top-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                &:active:not([disabled]) {
                    background-color: lighten($clr-2, 12%);
                    box-shadow: $hover-shadow rgba($clr-2, 50%);
                }
            }
            &.yellow {
                border-radius: 100% 0 0 100%/0 100% 0 100%;
                background-color: $clr-3;
                border-bottom-right-radius: 0.5rem;
                border-top-left-radius: 0.5rem;
                &:active:not([disabled]),
                &.active {
                    background-color: lighten($clr-3, 12%);
                    box-shadow: $hover-shadow rgba($clr-3, 50%);
                }
            }
            &.blue {
                border-radius: 0 100% 100% 0 / 100% 0 100% 0;
                background-color: $clr-4;
                border-bottom-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                &:active:not([disabled]) {
                    background-color: lighten($clr-4, 12%);
                    box-shadow: $hover-shadow rgba($clr-4, 50%);
                }
            }
        }
        .level {
            font-size: calc(1rem + 1vw);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20%;
            height: 20%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #222;
            color: $gray-D;
            border-radius: 100px;
            cursor: default;
            box-shadow: 0px 0px 30px -10px #111;
        }
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $dark;
    padding: 3rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 99;
    button {
        width: 100%;
    }
}
