html,
body {
    height: 100%;
    line-height: $base-font-ratio;
    font-family: $base-font-family;
    overflow-x: hidden;
}

body {
    background: radial-gradient(farthest-corner at 240px -240px, $dark2 -15%, $base-bg-color 55%, $dark2 115%);
    color: $base-text-color;
    min-height: 100vh;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.app-main {
    flex: 1;
}
